In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [3]:
%%sql
SELECT *
    FROM facts
    LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [4]:
%%sql

SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
    FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

In [5]:
%%sql

SELECT name, population
    FROM facts
    WHERE POPULATION = 0;

Done.

[('Antarctica', 0)]

In [6]:
%%sql

SELECT name, population
    FROM facts
    WHERE POPULATION = 7256490011;

Done.

[('World', 7256490011)]

In [8]:
%%sql

SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
    FROM facts
    WHERE name != "World";

Done.

[(0, 1367485388, 0.0, 4.02)]

In [9]:
%%sql

SELECT AVG(population), AVG(area)
    FROM facts
    WHERE name != 'World';

Done.

[(32242666.56846473, 555093.546184739)]

In [11]:
%%sql

SELECT name, population, area
    FROM facts
    WHERE (population > (SELECT AVG(population)
                            FROM facts
                            WHERE name != 'World') AND area < (SELECT AVG(area)
                                                                FROM facts
                                                                WHERE name != 'World'))

Done.

[('Bangladesh', 168957745, 148460),
 ('Germany', 80854408, 357022),
 ('Iraq', 37056169, 438317),
 ('Italy', 61855120, 301340),
 ('Japan', 126919659, 377915),
 ('Korea, South', 49115196, 99720),
 ('Morocco', 33322699, 446550),
 ('Philippines', 100998376, 300000),
 ('Poland', 38562189, 312685),
 ('Spain', 48146134, 505370),
 ('Thailand', 67976405, 513120),
 ('Uganda', 37101745, 241038),
 ('United Kingdom', 64088222, 243610),
 ('Vietnam', 94348835, 331210)]

In [12]:
%%sql

SELECT name, population
    FROM facts
    WHERE population = (SELECT MAX(population)
                            FROM facts
                            WHERE name != 'World')

Done.

[('China', 1367485388)]

In [16]:
%%sql

SELECT name, population_growth
    FROM facts
    WHERE population_growth = (SELECT MAX(population_growth)
                            FROM facts
                            WHERE name != 'World')

Done.

[('South Sudan', 4.02)]

In [19]:
%%sql

SELECT name, (area_water/area_land) as ratio_water_to_land
    FROM facts
    ORDER BY ratio_water_to_land DESC
    LIMIT 10;

Done.

[('British Indian Ocean Territory', 905),
 ('Virgin Islands', 4),
 ('Afghanistan', 0),
 ('Albania', 0),
 ('Algeria', 0),
 ('Andorra', 0),
 ('Angola', 0),
 ('Antigua and Barbuda', 0),
 ('Argentina', 0),
 ('Armenia', 0)]

In [20]:
%%sql

SELECT name, area_land, area_water
    FROM facts
    WHERE area_water > area_land;

Done.

[('British Indian Ocean Territory', 60, 54340), ('Virgin Islands', 346, 1564)]

In [21]:
%%sql

SELECT name, (birth_rate - death_rate - migration_rate) as add_people_rate
    FROM facts
    ORDER BY add_people_rate DESC;

Done.

[('Malawi', 33.150000000000006),
 ('Burundi', 32.739999999999995),
 ('Niger', 32.47),
 ('Uganda', 32.36),
 ('Burkina Faso', 30.310000000000002),
 ('Mali', 29.840000000000003),
 ('Ethiopia', 28.860000000000007),
 ('Zambia', 28.78),
 ('Gaza Strip', 28.07),
 ('Tanzania', 27.85),
 ('Benin', 27.810000000000002),
 ('Togo', 26.870000000000005),
 ('Angola', 26.83),
 ('Guinea', 26.28),
 ('Iraq', 26.06),
 ('Cameroon', 25.910000000000004),
 ('Madagascar', 25.8),
 ('Equatorial Guinea', 25.120000000000005),
 ('Liberia', 24.72),
 ('Congo, Democratic Republic of the', 24.540000000000003),
 ('Nigeria', 24.520000000000003),
 ('Mozambique', 24.499999999999996),
 ('Senegal', 24.470000000000002),
 ('Timor-Leste', 24.199999999999996),
 ('Rwanda', 23.939999999999998),
 ('Sierra Leone', 23.45),
 ('Afghanistan', 23.169999999999998),
 ('Yemen', 22.7),
 ('Eritrea', 22.48),
 ('Mauritania', 22.310000000000002),
 ('Zimbabwe', 22.129999999999995),
 ('Ghana', 21.85),
 ('Gambia, The', 21.59),
 ('Central African Republic', 21.279999999999998),
 ('Oman', 20.650000000000002),
 ('Solomon Islands', 20.169999999999998),
 ('Congo, Republic of the', 19.950000000000003),
 ('West Bank', 19.49),
 ('Vanuatu', 19.48),
 ('Gabon', 19.340000000000003),
 ('Kenya', 19.29),
 ("Cote d'Ivoire", 19.12),
 ('Guinea-Bissau', 19.050000000000004),
 ('Chad', 18.87),
 ('Belize', 18.71),
 ('Algeria', 18.44),
 ('Sao Tome and Principe', 18.359999999999992),
 ('Somalia', 18.340000000000003),
 ('Guatemala', 18.150000000000002),
 ('Egypt', 17.939999999999998),
 ('Papua New Guinea', 17.849999999999998),
 ('Comoros', 17.74),
 ('South Sudan', 17.259999999999998),
 ('Sudan', 17.240000000000002),
 ('Tajikistan', 17.05),
 ('Honduras', 16.81),
 ('Marshall Islands', 16.560000000000002),
 ('Kuwait', 16.15),
 ('Philippines', 16.07),
 ('Cambodia', 15.829999999999998),
 ('Bolivia', 15.620000000000003),
 ('Laos', 15.530000000000001),
 ('Bangladesh', 15.07),
 ('Saudi Arabia', 14.63),
 ('Pakistan', 14.549999999999997),
 ('Malaysia', 14.35),
 ('Venezuela', 13.850000000000001),
 ('Cabo Verde', 13.589999999999998),
 ('Ecuador', 13.450000000000003),
 ('Panama', 13.230000000000002),
 ('Mongolia', 13.06),
 ('Dominican Republic', 12.27),
 ('India', 12.190000000000001),
 ('Iran', 11.979999999999997),
 ('Mexico', 11.840000000000002),
 ('Haiti', 11.719999999999999),
 ('Paraguay', 11.620000000000001),
 ('Kiribati', 11.469999999999999),
 ('Turkmenistan', 11.43),
 ('Brunei', 11.370000000000001),
 ('Swaziland', 11.110000000000001),
 ('Kyrgyzstan', 11.11),
 ('Bhutan', 11.09),
 ('Israel', 11.09),
 ('Costa Rica', 10.53),
 ('Kazakhstan', 10.529999999999998),
 ('Colombia', 10.429999999999998),
 ('Nepal', 10.220000000000002),
 ('Burma', 10.15),
 ('Morocco', 10.030000000000001),
 ('Nicaragua', 9.950000000000001),
 ('Djibouti', 9.86),
 ('Peru', 9.740000000000002),
 ('Vietnam', 9.73),
 ('Suriname', 9.65),
 ('Azerbaijan', 9.57),
 ('French Polynesia', 9.360000000000001),
 ('Uzbekistan', 9.329999999999998),
 ('Argentina', 9.31),
 ('Indonesia', 9.189999999999998),
 ('Tunisia', 8.93),
 ('Lebanon', 8.610000000000001),
 ('Bahamas, The', 8.45),
 ('South Africa', 8.42),
 ('Sri Lanka', 8.389999999999999),
 ('Jordan', 8.340000000000002),
 ('Turkey', 8.29),
 ('Tuvalu', 8.189999999999998),
 ('Antigua and Barbuda', 7.95),
 ('Brazil', 7.740000000000001),
 ('Chile', 7.49),
 ('Northern Mariana Islands', 7.449999999999999),
 ('Jamaica', 6.800000000000001),
 ('Libya', 6.650000000000001),
 ('Fiji', 6.640000000000001),
 ('Mauritius', 6.379999999999999),
 ('Seychelles', 6.3),
 ('Namibia', 5.890000000000001),
 ('New Caledonia', 5.800000000000001),
 ('Samoa', 5.770000000000001),
 ('Nauru', 5.4499999999999975),
 ('Guam', 5.359999999999999),
 ('Korea, North', 5.269999999999999),
 ('Saint Kitts and Nevis', 5.2),
 ('Faroe Islands', 5.059999999999999),
 ('Montserrat', 4.96),
 ('Grenada', 4.820000000000001),
 ('China', 4.52),
 ('Ireland', 4.27),
 ('Curacao', 4.200000000000001),
 ('New Zealand', 3.76),
 ('Thailand', 3.3899999999999997),
 ('Saint Lucia', 3.349999999999999),
 ('Wallis and Futuna', 3.330000000000001),
 ('Lesotho', 3.219999999999998),
 ('Iceland', 3.2),
 ('Barbados', 3.13),
 ('Turks and Caicos Islands', 3.09),
 ('Albania', 3.04),
 ('Botswana', 3.0100000000000007),
 ('Uruguay', 2.720000000000001),
 ('El Salvador', 2.49),
 ('Saint Helena, Ascension, and Tristan da Cunha', 2.4400000000000004),
 ('Gibraltar', 2.430000000000001),
 ('Palau', 2.3500000000000005),
 ('France', 2.130000000000001),
 ('Dominica', 2.12),
 ('Macedonia', 1.9900000000000007),
 ('Sint Maarten', 1.8600000000000003),
 ('Korea, South', 1.4399999999999995),
 ('Macau', 1.290000000000001),
 ('Bermuda', 1.2199999999999998),
 ('Andorra', 1.1700000000000008),
 ('United Arab Emirates', 1.0999999999999996),
 ('Hong Kong', 0.4800000000000002),
 ('United States', 0.48),
 ('Jersey', 0.47000000000000064),
 ('Taiwan', 0.4700000000000003),
 ('Tonga', 0.3099999999999987),
 ('United Kingdom', 0.28000000000000025),
 ('Netherlands', 0.21999999999999997),
 ('Guyana', 0.20999999999999908),
 ('Slovakia', 0.12999999999999992),
 ('Greenland', 0.009999999999999787),
 ('Australia', -0.6399999999999997),
 ('Georgia', -0.7800000000000002),
 ('Maldives', -0.8200000000000003),
 ('Malta', -0.8900000000000001),
 ('Poland', -0.9099999999999993),
 ('Guernsey', -1.2599999999999993),
 ('Bosnia and Herzegovina', -1.2600000000000007),
 ('Trinidad and Tobago', -1.3499999999999996),
 ('Cuba', -1.4799999999999995),
 ('Armenia', -1.5300000000000002),
 ('Japan', -1.58),
 ('Syria', -1.6199999999999974),
 ('Liechtenstein', -1.7500000000000009),
 ('Bahrain', -2.119999999999999),
 ('Denmark', -2.1800000000000006),
 ('Finland', -2.2099999999999995),
 ('Switzerland', -2.370000000000001),
 ('European Union', -2.5),
 ('Saint Vincent and the Grenadines', -2.7799999999999994),
 ('Sweden', -2.83),
 ('American Samoa', -2.9899999999999984),
 ('Romania', -3.0),
 ('Czech Republic', -3.039999999999999),
 ('Norway', -3.2299999999999986),
 ('Slovenia', -3.3199999999999994),
 ('Belarus', -3.3600000000000003),
 ('Russia', -3.78),
 ('Canada', -3.8000000000000007),
 ('Anguilla', -4.08),
 ('Belgium', -4.090000000000001),
 ('Croatia', -4.12),
 ('Germany', -4.1899999999999995),
 ('Portugal', -4.42),
 ('Aruba', -4.539999999999999),
 ('Serbia', -4.58),
 ('Micronesia, Federated States of', -4.620000000000001),
 ('Cyprus', -4.69),
 ('Greece', -4.75),
 ('Hungary', -4.9),
 ('Estonia', -5.49),
 ('Isle of Man', -5.5200000000000005),
 ('Italy', -5.549999999999999),
 ('Austria', -5.569999999999999),
 ('Bulgaria', -5.81),
 ('Virgin Islands', -5.899999999999999),
 ('Puerto Rico', -5.960000000000001),
 ('Ukraine', -5.99),
 ('Monaco', -6.42),
 ('Spain', -7.709999999999999),
 ('Cayman Islands', -7.820000000000001),
 ('San Marino', -7.849999999999998),
 ('Singapore', -9.21),
 ('Moldova', -10.26),
 ('Lithuania', -10.44),
 ('Latvia', -10.57),
 ('Saint Pierre and Miquelon', -10.790000000000001),
 ('British Virgin Islands', -11.360000000000001),
 ('Luxembourg', -13.030000000000001),
 ('Qatar', -14.08),
 ('Kosovo', None),
 ('Montenegro', None),
 ('Holy See (Vatican City)', None),
 ('Ashmore and Cartier Islands', None),
 ('Christmas Island', None),
 ('Cocos (Keeling) Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Norfolk Island', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Saint Martin', None),
 ('Cook Islands', None),
 ('Niue', None),
 ('Tokelau', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('Svalbard', None),
 ('Akrotiri', None),
 ('British Indian Ocean Territory', None),
 ('Dhekelia', None),
 ('Falkland Islands (Islas Malvinas)', None),
 ('Pitcairn Islands', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Western Sahara', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', None)]

In [22]:
%%sql

SELECT name, birth_rate, death_rate
    FROM facts
    WHERE death_rate > birth_rate;

Done.

[('Austria', 9.41, 9.42),
 ('Belarus', 10.7, 13.36),
 ('Bosnia and Herzegovina', 8.87, 9.75),
 ('Bulgaria', 8.92, 14.44),
 ('Croatia', 9.45, 12.18),
 ('Czech Republic', 9.63, 10.34),
 ('Estonia', 10.51, 12.4),
 ('Germany', 8.47, 11.42),
 ('Greece', 8.66, 11.09),
 ('Hungary', 9.16, 12.73),
 ('Italy', 8.74, 10.19),
 ('Japan', 7.93, 9.51),
 ('Latvia', 10.0, 14.31),
 ('Lithuania', 10.1, 14.27),
 ('Moldova', 12.0, 12.59),
 ('Monaco', 6.65, 9.24),
 ('Poland', 9.74, 10.19),
 ('Portugal', 9.27, 11.02),
 ('Romania', 9.14, 11.9),
 ('Russia', 11.6, 13.69),
 ('Serbia', 9.08, 13.66),
 ('Slovenia', 8.42, 11.37),
 ('Ukraine', 10.72, 14.46),
 ('Saint Pierre and Miquelon', 7.42, 9.72)]

In [23]:
%%sql

SELECT name, (population/area) as population_area_ratio
    FROM facts
    ORDER BY population_area_ratio DESC;

Done.

[('Macau', 21168),
 ('Monaco', 15267),
 ('Singapore', 8141),
 ('Hong Kong', 6445),
 ('Gaza Strip', 5191),
 ('Gibraltar', 4876),
 ('Bahrain', 1771),
 ('Maldives', 1319),
 ('Malta', 1310),
 ('Bermuda', 1299),
 ('Sint Maarten', 1167),
 ('Bangladesh', 1138),
 ('Guernsey', 847),
 ('Jersey', 838),
 ('Barbados', 675),
 ('Mauritius', 656),
 ('Taiwan', 650),
 ('Aruba', 623),
 ('Lebanon', 594),
 ('Saint Martin', 588),
 ('San Marino', 541),
 ('Korea, South', 492),
 ('Rwanda', 480),
 ('West Bank', 475),
 ('Nauru', 454),
 ('Tuvalu', 418),
 ('Netherlands', 407),
 ('Marshall Islands', 398),
 ('Israel', 387),
 ('Burundi', 385),
 ('India', 380),
 ('Belgium', 370),
 ('Haiti', 364),
 ('Comoros', 349),
 ('Philippines', 336),
 ('Sri Lanka', 336),
 ('Japan', 335),
 ('Curacao', 334),
 ('Grenada', 321),
 ('Guam', 297),
 ('El Salvador', 291),
 ('Vietnam', 284),
 ('American Samoa', 273),
 ('Jamaica', 268),
 ('Saint Lucia', 266),
 ('Saint Vincent and the Grenadines', 263),
 ('United Kingdom', 263),
 ('Puerto Rico', 260),
 ('Pakistan', 250),
 ('Trinidad and Tobago', 238),
 ('Liechtenstein', 235),
 ('Germany', 226),
 ('British Virgin Islands', 221),
 ('Luxembourg', 220),
 ('Dominican Republic', 215),
 ('Nepal', 214),
 ('Cayman Islands', 212),
 ('Antigua and Barbuda', 209),
 ('Korea, North', 207),
 ('Italy', 205),
 ('Seychelles', 203),
 ('Sao Tome and Principe', 201),
 ('Saint Kitts and Nevis', 198),
 ('Nigeria', 196),
 ('Switzerland', 196),
 ('Qatar', 189),
 ('Andorra', 182),
 ('Anguilla', 180),
 ('Gambia, The', 174),
 ('Kosovo', 171),
 ('Kuwait', 156),
 ('Uganda', 153),
 ('Isle of Man', 153),
 ('Malawi', 151),
 ('Micronesia, Federated States of', 149),
 ('China', 142),
 ('Tonga', 142),
 ('Guatemala', 137),
 ('Cabo Verde', 135),
 ('Czech Republic', 134),
 ('Indonesia', 134),
 ('Thailand', 132),
 ('Togo', 132),
 ('Kiribati', 130),
 ('Denmark', 129),
 ('Cyprus', 128),
 ('Akrotiri', 127),
 ('Poland', 123),
 ('Dhekelia', 120),
 ('European Union', 118),
 ('Portugal', 117),
 ('Azerbaijan', 112),
 ('Northern Mariana Islands', 112),
 ('Slovakia', 111),
 ('Tokelau', 111),
 ('Ghana', 110),
 ('Wallis and Futuna', 109),
 ('Hungary', 106),
 ('Albania', 105),
 ('Moldova', 104),
 ('Austria', 103),
 ('France', 103),
 ('Armenia', 102),
 ('Turkey', 101),
 ('Cuba', 99),
 ('Dominica', 98),
 ('Slovenia', 97),
 ('Spain', 95),
 ('Costa Rica', 94),
 ('Benin', 92),
 ('Malaysia', 92),
 ('Serbia', 92),
 ('Syria', 92),
 ('Ethiopia', 90),
 ('Jordan', 90),
 ('Romania', 90),
 ('Egypt', 88),
 ('Cambodia', 86),
 ('Iraq', 84),
 ('Burma', 83),
 ('Swaziland', 82),
 ('Timor-Leste', 82),
 ('Greece', 81),
 ('Macedonia', 81),
 ('Sierra Leone', 81),
 ('Kenya', 79),
 ('Croatia', 78),
 ('Honduras', 78),
 ('Bosnia and Herzegovina', 75),
 ('Brunei', 74),
 ('Morocco', 74),
 ('Ukraine', 73),
 ("Cote d'Ivoire", 72),
 ('Senegal', 71),
 ('Georgia', 70),
 ('Burkina Faso', 69),
 ('Ireland', 69),
 ('Samoa', 69),
 ('United Arab Emirates', 69),
 ('Tunisia', 67),
 ('French Polynesia', 67),
 ('Uzbekistan', 65),
 ('Bulgaria', 64),
 ('Lesotho', 64),
 ('Mexico', 61),
 ('Norfolk Island', 61),
 ('Tajikistan', 56),
 ('Ecuador', 55),
 ('Eritrea', 55),
 ('Virgin Islands', 54),
 ('Tanzania', 53),
 ('Turks and Caicos Islands', 53),
 ('Montserrat', 51),
 ('Yemen', 50),
 ('Afghanistan', 49),
 ('Cameroon', 49),
 ('Fiji', 49),
 ('Iran', 49),
 ('Panama', 48),
 ('Guinea', 47),
 ('Guinea-Bissau', 47),
 ('Belarus', 46),
 ('Montenegro', 46),
 ('Palau', 46),
 ('Nicaragua', 45),
 ('Lithuania', 44),
 ('South Africa', 44),
 ('Cocos (Keeling) Islands', 42),
 ('Colombia', 41),
 ('Cook Islands', 41),
 ('Madagascar', 40),
 ('Liberia', 37),
 ('Zimbabwe', 36),
 ('Faroe Islands', 36),
 ('Djibouti', 35),
 ('Congo, Democratic Republic of the', 33),
 ('United States', 32),
 ('Venezuela', 32),
 ('Mozambique', 31),
 ('Latvia', 30),
 ('Laos', 29),
 ('Kyrgyzstan', 28),
 ('Estonia', 27),
 ('Equatorial Guinea', 26),
 ('Saint Helena, Ascension, and Tristan da Cunha', 25),
 ('Bahamas, The', 23),
 ('Brazil', 23),
 ('Chile', 23),
 ('Peru', 23),
 ('Saint Pierre and Miquelon', 23),
 ('Vanuatu', 22),
 ('Solomon Islands', 21),
 ('Sweden', 21),
 ('Zambia', 20),
 ('Bhutan', 19),
 ('Sudan', 19),
 ('South Sudan', 18),
 ('Uruguay', 18),
 ('Algeria', 16),
 ('Finland', 16),
 ('New Zealand', 16),
 ('Norway', 16),
 ('Paraguay', 16),
 ('Somalia', 16),
 ('Angola', 15),
 ('Argentina', 15),
 ('Belize', 15),
 ('Papua New Guinea', 14),
 ('New Caledonia', 14),
 ('Congo, Republic of the', 13),
 ('Mali', 13),
 ('Saudi Arabia', 12),
 ('Christmas Island', 11),
 ('Oman', 10),
 ('Turkmenistan', 10),
 ('Bolivia', 9),
 ('Central African Republic', 8),
 ('Russia', 8),
 ('Gabon', 6),
 ('Kazakhstan', 6),
 ('Niue', 4),
 ('Botswana', 3),
 ('Canada', 3),
 ('Guyana', 3),
 ('Iceland', 3),
 ('Libya', 3),
 ('Mauritania', 3),
 ('Suriname', 3),
 ('Australia', 2),
 ('Namibia', 2),
 ('Western Sahara', 2),
 ('Mongolia', 1),
 ('Pitcairn Islands', 1),
 ('Greenland', 0),
 ('Svalbard', 0),
 ('Falkland Islands (Islas Malvinas)', 0),
 ('Chad', None),
 ('Niger', None),
 ('Holy See (Vatican City)', None),
 ('Ashmore and Cartier Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('British Indian Ocean Territory', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', None)]